# Readline config file
# bind -p # Equivalent to dump-functions
# bind -s # Equivalent to dump-macros
# bind -v # Equivalent to dump-variables

set input-meta on
set output-meta on
set convert-meta off

set show-all-if-ambiguous on
set completion-ignore-case on

# <CTRL>+left/right arrows
"\eO5C": forward-word
"\eO5D": backward-word
"\e[1;5C": forward-word
"\e[1;5D": backward-word

# <CTRL>+up/left: incremental history search
"\e[A": history-search-backward
"\e[B": history-search-forward

# <CTRL>+e : perform shell-expansion on the currently edited cmd-line
"\C-e": shell-expand-line


# NOTE by cimon@ - config below not tested yet
# allow the use of the Home/End keys
#"\e[1~": beginning-of-line
#"\e[4~": end-of-line

# allow the use of the Delete/Insert keys
"\e[3~": delete-char
"\e[2~": quoted-insert

# mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word

$if term=rxvt
"\e[7~": beginning-of-line
"\e[8~": end-of-line
"\eOc": forward-word
"\eOd": backward-word
$endif

# for non RH/Debian xterm, can't hurt for RH/Debian xterm
# "\eOH": beginning-of-line
# "\eOF": end-of-line
