; Author: Lucas Cimon (github.com/Lucas-C/linux_configuration)
; ln -s $PWD/.lighttable.user.keymap $HOME/.config/LightTable/User/user.keymap
; Some docs: https://github.com/LightTable/LightTable/wiki/For-Users
; Defaults: https://github.com/LightTable/LightTable/blob/master/deploy/settings/default/default.keymap
;   <CTRL>+<SPACE> : command prompt with completion, e.g. add-browser-tab
;   <CTRL>+<SHIFT>+O : Open-file
;   <CTRL>+<ENTER> : evaluate line of code
;     <CTRL>+<SHIFT>+<ENTER> : evaluate whole file
; List all available commands to map: grep -hIRF '(cmd/command {:command' /opt/LightTable/ | cut -d' ' -f3 | sort | uniq
[
 [:editor "alt-shift-w" :editor.watch.unwatch]
 [:editor "alt-w" :editor.watch.watch-selection]
; Watches:
;   http://www.chris-granger.com/2013/08/22/light-table-050/
;   https://medium.com/@zindlerb/guide-to-light-table-watches-fad560f698d3
;   http://scattered-thoughts.net/blog/2014/01/27/were-not-even-trying/

 [:editor "ctrl-q" :toggle-comment-selection]

 [:editor "f1" :toggle-console]
 [:editor "ctrl-f1" :clear-console]

 [:editor "f3" :find.next]
 [:editor "shift-f3" :find.prev]
]
