#app {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.letter {
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: .1rem;
    text-align: center;
    text-transform: uppercase;
    border: 1px black solid;
}
.control {
    background-color: #ace;
    border: 1px black solid;
    cursor: pointer;
}
.checked {
    background-color: #ccc;
}
#grid .letter {
    cursor: pointer;
}
.row {
    display: flex;
}
